body {
  background-color: whitesmoke;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cart{
  transition: transform 0.2s,box-shadow 0.2s;
}

.cart:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,2);

}

.contact-container{
  display: flex;
  width: 100%;
  gap: 40px;
  margin-top: 40px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-left{
  flex:1;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;

}
.contact-left textarea
{
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  resize:vertical
}
.contact-info{
  margin: 5px 0;
  font-size: 16px;
}

.contact-right{
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}
.contact-right img{
  max-width: 600px;
  height: 500px;
  border-radius: 10px;
  width: 100%;
}

.footer{
  font-size: 1mm;
  background-color: black;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
